html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Cabin', sans-serif;
  background-color: #ecf0f1;
}

h1 {
  padding: 0;
  margin: 0;
  color: #34495e;
  font-family: 'Cabin';
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #02b3e4;
}

.header .logo img {
  width: 120px;
  height: 80px;
  display: block;
  float: left;
}

.header {
  height: 80px;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #02b3e4;
}

.header-menu {
  position: absolute;
  right: 0;
  padding-top: 10px;
  padding-right: 5px;
}

.header-menu li {
  display: block;
  float: left;
  width: 5em;
  height: 5em;
  text-align: center;
}

.main {
  width: 100%;
  padding-top: 180px;
  display: block;
  text-align: -webkit-center;
  text-align: center;
}

.main .wrapper {
  height: 0;
  padding-bottom: 20%;
  position: relative;
}

.wrapper {
  position: relative;
  width: 90%;
  max-width: 75em;
  margin: auto;
}

.excerpt {
  color: #34495e;
  font-family: 'Cabin';
  font-size: 30px;
}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.social-links {
  padding-top: 10px;
  display: block;
  text-align: -webkit-center;
  text-align: center;
}

.social-links ul {
  padding-right: 45px;
}

.social-links li {
  display: inline;
  font-size: 20px;
}

.social-links a {
  border-right: 2px solid #dbe2e8;
  padding-right: 15px;
  padding-left: 15px;
}

#no-border {
  padding-right: 15px;
  padding-left: 15px;
}

.udacity {
  padding-top: 100px;
  display: block;
  text-align: -webkit-center;
  text-align: center;
}

.udacity h1 {
  font-size: 50px;
}

.notes {
  padding-left: 500px;
  padding-top: 100px;
  max-width: 1000px;
}

.stylish-webpage {
  padding-bottom: 200px;
}

.resume {
  display: block;
  text-align: -webkit-center;
  text-align: center;
}
